<div>
    <h2>I Am No Longer Fine With Being Myopic</h2>
    <p>By April 6th, 2033 I want to be glasses free, or at least not need them for normal day-to-day life. I want clear vision without glasses, without surgery, and 
        without constant "eye exercises". I want to be able to be tested by an optometrist at any time to prove my glasses-free clear vision. I am not yet
        sure if this is actually possible or not.
    </p>
    <h2>How Am I Going To Do This?</h2>
    <p>Current science gives us very convincing evidence that the axial length of the eyeball is influenced heavily by the individual's lifestyle.
        Therefore, changes in my lifestyle need to be made in order for this to be possible. 
        I need to <a href="https://en.wikipedia.org/wiki/Pseudomyopia" target="_blank">reduce my near-work</a>
            and <a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0140419" target="_blank">close distance time</a>.
        I need to <a href="https://iovs.arvojournals.org/article.aspx?articleid=2772225" target="_blank">increase my natural light intake</a>,
            and <a href="https://www.sciencedirect.com/science/article/abs/pii/S0014483519300818" target="_blank">get distance vision</a>.
        I need to <a href="https://onlinelibrary.wiley.com/doi/abs/10.1111/j.1475-1313.1988.tb01063.x" target="_blank">put effort into the things I see</a>
            and I need to work through <a href="https://pubmed.ncbi.nlm.nih.gov/20592235/" target="_blank">less than ideal clarity</a>.
    </p>
    <p>It's going to take a lot of willpower to maintain these things for a long time, but I am at least going to try.
        I became severly myopic over the course of 25 years. Becoming emmetropic will take many years of effort as well. Just hopefully not as many.
    </p>
    <p>I will be following <a href="/rlm" routerLinkActive="active" ariaCurrentWhenActive="page">The Reduced Lens Method</a> to fix my vision. 
        In short, I will do my best to create a blur horizon on everything I look at, near and far, and actively try to see through the blur.
        There are no studies that prove that this works. There are, however, many ancedotes in the greater
        <a href="https://ReducedLens.org" target="_blank">Reduced Lens Community</a> that make it at least seem possible. Only time will tell if this works for me,
        assuming that I can properly perform the method. This website serves as a way to help keep me true to my results so that I will speak accurately to
        others within this space about my own progress, and also so that I do not fall into the trap of believing I am improving when I am not.
    </p>
    <p>Regardless of whether I succeed or fail, I am yet another datapoint to help prove or disprove the efficacy of this method, and that is fine with me.
    </p>
</div>