<div class="header-container">
    <h1>No More Nearsightedness</h1>
    <div class="header-nav-container">
        <nav>
            <a class="header-nav-button" href="/" routerLinkActive="active" ariaCurrentWhenActive="page">The Vision</a>
            <a class="header-nav-button" href="/rlm" routerLinkActive="active" ariaCurrentWhenActive="page">The Reduced Lens Method</a>
            <a class="header-nav-button" href="/progress" routerLinkActive="active" ariaCurrentWhenActive="page">My Current Progress</a>
            <a class="header-nav-button" href="/data" routerLinkActive="active" ariaCurrentWhenActive="page">Raw Data</a>
        </nav>
    </div>
</div>
<hr class="body-separator-line">
