<div>
    <div>
        <h2>Personal Diopter Information</h2>
        <p>My eyes are equal in strength. All numbers represent both right and left eyes</p>
        <div class="diopter-info-container">
            <h3 class="diopter-info-cell diopter-info-key">Highest Optometrist Measured Prescription:</h3>
            <p class="diopter-info-cell diopter-info-value">-7.75 SPH, -0.75 CYL <br> April 6th, 2023</p>
            <h3 class="diopter-info-cell diopter-info-key">Most Recent Optometrist Measured Prescription:</h3>
            <p class="diopter-info-cell diopter-info-value">-6.75 SPH, -0.75 CYL <br> June 13th, 2024</p>
            <h3 class="diopter-info-cell diopter-info-key">Weakest Diopters Needed For Subjective 20/20 Visual Acuity With Indoor Lighting:</h3>
            <p class="diopter-info-cell diopter-info-value">-6.25 SPH, -0.75 CYL</p>
            <h3 class="diopter-info-cell diopter-info-key">Currently Using Diopters:</h3>
            <p class="diopter-info-cell diopter-info-value">-5.75 SPH, -0.75 CYL</p>
        </div>
    </div>
    <div>
        <h2>Log Of Major Events In Reductions, Gains, <br>Measurements, Lifestyle Changes, and Habits</h2>
        <app-major-event
            date="February 9, 2025"
            description="I haven't been practicing good vision habits for the past few months. My wife had a baby, and it's been a lot of sleepless nights and
            endlessly chasing changing schedules and routines to keep the world spinning. During this time I've stopped using underpowered glasses for near work
            and haven't gotten outside quite as much, and this has noticeably and significantly impacted my vision. Today I looked at the Snellen for the first time
            in a while and although my left eye seemed fairly ok, my right eye has degraded. Measuring my eyes afterwards shows a small half centimeter or so loss
            of vision in my left eye, but a significant 1.5cm loss of vision in my right eye. The most recent prior measurement was in November and also showed about
            the same amount of degredation, though switched between the eyes. I've been using -5.75 lenses the entire time, but again, no proper close range habits at
            all. I'm getting back on track with more regular long range vision time, utilizing near work glasses for close ranges, and print pushing. If I can get back
            to where I use to be, it'll give me the confidence I need that I can continue to improve my vision."></app-major-event>
        <app-major-event
            date="August 25, 2024"
            description="Reducing to -5.75. I reread The No BS Guide to Vision Improvement by CG Hayes (cliffgnu) and noticed that he calls for a significant reduction
            in lens power to the point where you can only read the 20/40 line. I was worried a lot before about blur adaptation affecting my progress, but if other
            people have been seeing results with even more blur than what I subject myself to, then there might be some merit in increasing my exposure to blur.
            My new strategy is to keep my blur horizon within the red and green lines on the Snellen chart, which surround the 20/20 and 20/25 lines. I want the 20/20
            line to be blurry and difficult to read, and the 20/25 line to be slightly blurry but easily readable."></app-major-event>
        <app-major-event
            date="July 29, 2024"
            description="Reducing to -6.00. I can still score 20/20 on the Snellen with -6.00 lenses on, but it is a bit blurry. Is this enough blur challenge?
                Still not sure about Active Focus. Outside in daylight, I feel as though my vision is perfect with the -6.00 lenses. I really can't tell where
                the blur starts. Also reducing my near work glasses to -4.75. This puts the blur horizon directly on my computer screen, so that leaning
                backwards makes it nearly unreadable, and leaning forwards makes it clear and easy to read. I've noticed that my manual clear vision measurements
                have become consistently 17cm since my last optometry appointment. Looking at the data from last year up until now, it seems that I used to be
                consistently under 17cm, but now I'm at or above it."></app-major-event>
        <app-major-event
            date="July 12, 2024"
            description="Reducing back down to -6.25. I can read the 20/20 line on the Snellen with these. Was I able to do that before with my previous -6.25
                reduction? Not sure."></app-major-event>
        <app-major-event
            date="June 20, 2024"
            image="assets/2024-20-06 Work Setup.jpg"
            description="I've moved my work setup into a new room right in front of a large window. This provides a wonderful amount of natural sunlight directly
                in my face and makes distance vision eye breaks easier to remember to do. I'm now setting aside time to manually print push outside of work hours.
                "></app-major-event>
        <app-major-event
            date="June 13, 2024"
            description="I got back from my opthalmologist. He measures me at -6.75 SPH, -0.75 CYL in both eyes for full strength. This is the first time in my
                life that my prescription has ever gone down. The Auto Refractor results were also highly interesting, it measured me around -6.00 this time. Last
                year, it measured -9.00. I am consistently getting distance vision practice in now three times a day: Before, during, and after work.
                "></app-major-event>
        <app-major-event
            date="April 21, 2024"
            description="Moving distance glasses back up to -6.75. Really worried about getting blur adapted and not improving. I'm consistently getting good long
                range distance practice in after work though, and sometimes in the middle of the day too."></app-major-event>
        <app-major-event
            date="January 4, 2024"
            description="The -5.00 lenses are becoming exhausting, so moving back up to -5.50 for near work, but will still try to print push as much as I can
                remember to. Reducing my distance glasses to -6.25 for more blur challenge in hopes of understanding Active Focus more."></app-major-event>
        <app-major-event
            date="November 16, 2023"
            description="Reducing my near work glasses to -5.00. This forces me to lean forward towards the computer screen in order to make it crisp and
                clear. Going to start really practicing print pushing while working."></app-major-event>
        <app-major-event
            date="September 3, 2023"
            image="assets/2023-09-03 Work Setup.jpg"
            description="Moving to a new house. My new work setup is near two larger windows with lots of natural light. Haven't been getting outside much.
                "></app-major-event>
        <app-major-event
            date="July 30, 2023"
            description="Been fiddling with different sets of glasses over the past 2 months and have decided to settle on -6.75 as my distance glasses and
                -5.50 as my near work glasses. I can still read the 20/20 line on the Snellen with these new distance glasses, basically trying to apply only
                the smallest amount of noticeable blur to it. My near work glasses only maybe provide blur on my computer screen when I lean back very far. 
                It's kinda hard to tell."></app-major-event>
        <app-major-event
            date="June 7, 2023"
            description="Making my first major reduction in power, down to -7.00. The Snellen chart is fairly clear in indoor lighting, maybe just the tinest
                bit of blur on the 20/20 line. It's easy to remember to use the correct set of lenses, as my close distance glasses basically only live on
                my desk."></app-major-event>
        <app-major-event
            date="April 24, 2023"
            description="My two new pairs of glasses have arrived. Now I can start implementing the split between wearing the -6.50s for close distance work and the 
                -7.75s for far distance activities."></app-major-event>
        <app-major-event
            date="April 10, 2023"
            image="assets/2023-04-10 Work Setup.jpg"
            description="My work set up is near a window, but I've always kept it covered until now. Uncovering it is getting me some natural light into my room
                and I can take distance vision breaks easier. Also buying many new sets of glasses of varying powers. Attempting to try to understand Active Focus
                now. Getting outside consistently after work."></app-major-event>
        <app-major-event
            date="April 6, 2023"
            description="I visit my opthalmologist and am measured for -7.75 SPH, -0.75 CYL in both eyes, even higher than the previous year. I purchase
                these full strength glasses, but also convince my opthalmologist to prescribe me weaker -6.50 lenses."></app-major-event>
        <app-major-event
            date="March 24, 2023"
            description="As I'm recovering from an eye infection, I discover peculiar resources online that claim that myopia is induced, not inherited,
                and I begin researching. I immediately throw away my contacts and dig out a dusty old pair of glasses in hopes that my myopia will stop
                getting worse. I start measuring my eyesight, getting clear vision distance values between 15cm and 17cm."></app-major-event>
    </div>
</div>
