<div>
    <div>
        <h2>Personal Diopter Information</h2>
        <p>My eyes are equal in strength. All numbers represent both right and left eyes</p>
        <div class="diopter-info-container">
            <h3 class="diopter-info-cell diopter-info-key">Highest Optomitrist Measured Prescription:</h3>
            <h3 class="diopter-info-cell diopter-info-value">-7.75 SPH, -0.75 CYL <br> April 6th, 2023</h3>
            <h3 class="diopter-info-cell diopter-info-key">Most Recent Optomitrist Measured Prescription:</h3>
            <h3 class="diopter-info-cell diopter-info-value">-6.75 SPH, -0.75 CYL <br> June 13th, 2024</h3>
            <h3 class="diopter-info-cell diopter-info-key">Current Diopters Needed For Subjective 20/20 Visual Acuity:</h3>
            <h3 class="diopter-info-cell diopter-info-value">-6.25 SPH, -0.75 CYL</h3>
            <h3 class="diopter-info-cell diopter-info-key">Actively Using Diopters:</h3>
            <h3 class="diopter-info-cell diopter-info-value">-6.00 SPH, -0.75 CYL</h3>
        </div>
    </div>
    <div>
        <h2>Summary Of Major Events In Reductions, Lifestyle Changes, And Habits</h2>
    </div>
</div>
